.token-scrollbar {
  height: 25em;
  width: 100%;
  overflow: scroll !important;
}

.token-hierarchical-padding .left-0, .token-checker .left-0, .token-tree-view .left-0 {
  padding-left: 0em;
}
.token-hierarchical-padding .left-1, .token-checker .left-1, .token-tree-view .left-1 {
  padding-left: 0.5em;
}
.token-hierarchical-padding .left-2, .token-checker .left-2, .token-tree-view .left-2 {
  padding-left: 1em;
}
.token-hierarchical-padding .left-3, .token-checker .left-3, .token-tree-view .left-3 {
  padding-left: 1.5em;
}
.token-hierarchical-padding .left-4, .token-checker .left-4, .token-tree-view .left-4 {
  padding-left: 2em;
}
.token-hierarchical-padding .left-5, .token-checker .left-5, .token-tree-view .left-5 {
  padding-left: 2.5em;
}
.token-hierarchical-padding .left-6, .token-checker .left-6, .token-tree-view .left-6 {
  padding-left: 3em;
}
.token-hierarchical-padding .left-7, .token-checker .left-7, .token-tree-view .left-7 {
  padding-left: 3.5em;
}
.token-hierarchical-padding .left-8, .token-checker .left-8, .token-tree-view .left-8 {
  padding-left: 4em;
}
.token-hierarchical-padding .left-9, .token-checker .left-9, .token-tree-view .left-9 {
  padding-left: 4.5em;
}
.token-hierarchical-padding .left-10, .token-checker .left-10, .token-tree-view .left-10 {
  padding-left: 5em;
}
.token-hierarchical-padding .left-11, .token-checker .left-11, .token-tree-view .left-11 {
  padding-left: 5.5em;
}
.token-hierarchical-padding .left-12, .token-checker .left-12, .token-tree-view .left-12 {
  padding-left: 6em;
}
.token-hierarchical-padding .left-13, .token-checker .left-13, .token-tree-view .left-13 {
  padding-left: 6.5em;
}
.token-hierarchical-padding .left-14, .token-checker .left-14, .token-tree-view .left-14 {
  padding-left: 7em;
}
.token-hierarchical-padding .left-15, .token-checker .left-15, .token-tree-view .left-15 {
  padding-left: 7.5em;
}

.token-tree-view {
  font-family: monospace;
  font-size: 1.2em;
  margin: 0.2em 0;
}
.token-tree-view div {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.token-tree-view div.token-explorer-current {
  background-color: #e0ffe0;
  border: 1px solid green;
}
.token-tree-view div.token-explorer-ancestor {
  border: 1px solid green;
}
.token-tree-view div.token-leaf > em {
  background-color: #67bd67;
}
.token-tree-view div > em {
  border-radius: 0.2em;
  padding: 0.2em;
  font-size: 0.8em;
  background-color: rgb(141, 141, 141);
  color: white;
}
.token-tree-view div > span {
  position: absolute;
  padding: 0em 0.5em;
  right: 0;
  background-color: rgb(230, 68, 68);
  border-radius: 0.6em;
  opacity: 0.8;
  font-size: 0.9em;
  color: white;
}
.token-tree-view.navigation-bar {
  border: 1px solid rgb(26, 83, 26);
}
.token-tree-view.navigation-bar > div.navigation-bar-label {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  padding: 0.2em;
  text-align: center;
  background-color: #1d921d;
}

.token-checker table {
  width: 100%;
  border-collapse: collapse;
}
.token-checker tr {
  border-bottom: 1px solid #ccc;
}
.token-checker td, .token-checker th {
  padding: 0.2em 0.5em;
}
.token-checker .enable-selection {
  background-color: #e0ffe0;
  cursor: pointer;
}
.token-checker .enable-selection:hover {
  background-color: #c0ffc0;
}
.token-checker .components-base-control__field {
  margin-bottom: 0;
}/*# sourceMappingURL=token-viewer.css.map */