
$left: .5em;

.token-scrollbar
{
    height: 25em;
    width: 100%;
    overflow: scroll !important;
}

.token-hierarchical-padding
{
    .left-0 { padding-left: $left * 0; }
    .left-1 { padding-left: $left * 1; }
    .left-2 { padding-left: $left * 2; }
    .left-3 { padding-left: $left * 3; }
    .left-4 { padding-left: $left * 4; }
    .left-5 { padding-left: $left * 5; }
    .left-6 { padding-left: $left * 6; }
    .left-7 { padding-left: $left * 7; }
    .left-8 { padding-left: $left * 8; }
    .left-9 { padding-left: $left * 9; }
    .left-10 { padding-left: $left * 10; }
    .left-11 { padding-left: $left * 11; }
    .left-12 { padding-left: $left * 12; }
    .left-13 { padding-left: $left * 13; }
    .left-14 { padding-left: $left * 14; }
    .left-15 { padding-left: $left * 15; }
}

.token-tree-view
{

    @extend .token-hierarchical-padding;

    font-family: monospace;
    font-size: 1.2em;
    margin: .2em 0;

    div
    {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        


        &.token-explorer-current
        {
            background-color: #e0ffe0;
            border: 1px solid green;
        }

        &.token-explorer-ancestor
        {
            border: 1px solid green;
        }

        &.token-leaf > em
        {
            background-color: #67bd67;
        }

        > em
        {
            border-radius: .2em;
            padding: .2em;
            font-size: .8em;
            background-color: rgb(141, 141, 141);
            color: white;
        }

        > span
        {
            position: absolute;
            padding: 0em .5em;
            right: 0;
            background-color: rgb(230, 68, 68);
            border-radius: .6em;
            opacity: 0.8;
            font-size: .9em;
            color: white;
        }

    }

    &.navigation-bar
    {
        border: 1px solid rgb(26, 83, 26);

        > div.navigation-bar-label
        {
            font-size: .8em;
            font-weight: bold;
            color: white;
            padding: .2em;
            text-align: center;
            background-color: #1d921d;
        }
    }
}

.token-checker
{

    @extend .token-hierarchical-padding;
    
    table
    {
        width: 100%;
        border-collapse: collapse;
    }
    tr
    {
        border-bottom: 1px solid #ccc;
    }
    td, th
    {
        padding: .2em .5em;
    }

    .enable-selection
    {
        background-color: #e0ffe0;
        cursor: pointer;

        &:hover
        {
            background-color: #c0ffc0;
        }
    }
    
    .components-base-control__field
    {
        margin-bottom: 0;
    }
}
