/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-kurage-worker-markdown-block-editor {
	border: 1px solid #3773f9;
}

.wp-block-kurage-worker-markdown-block-editor-label
{
	padding: .1em;
	background-color: #3371ff;
	color: white;
	font-size: .8em;
}

.scroll-commands-panel
{
	padding: .5em;
	
	.scroll-command-item
	{
		width: 100%;
		overflow: hidden;
		margin: .2em;
	}
}


.split-panel
{
	display: flex;
}



.width-panel
{
	width: 100%;
	height: 100%;
	position: relative;

	> div
	{
		height: 100%;
	}

	section
	{
		height: 100%;
	}
}

.markdown-content
{
	table
	{
		width: 100%;
	}
}

.markdown-block-editor-button-group
{
	width: 100%;
	display: flex;
	justify-content: space-evenly;

	> button
	{
		flex: 1;
		margin: .1rem;
		text-align: center;
	}
}

.markdown-block-editor-margin-vertical
{
	margin: .3em 0;
}

.components-toolbar button.components-button
{
	min-width: 24px !important;
}




.block-editor-maximizer
{
    position: fixed !important;
    top:  0 !important;
    left:  0px !important;
    width:  100% !important;
    max-width:  100% !important;
    height: 100% !important;
    z-index:  100 !important;
	background-color: white;

}

.markdown-block-editor-button-vertical
{
	margin: .3em 0;
	width: 100%;
}

.command-inspector
{
	max-height: 40em;
	overflow: auto;
	
	.components-toolbar
	{
		margin-bottom: .6em !important;
	}
}